# LaTeX auxiliary files
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.dvi
*.ps

# Keep the PDF (comment out if you don't want to track it)
# *.pdf

